


<input type="text" value="75" class="dial" id="red">
<input type="text" value="75" class="dial" id="green">
<input type="text" value="75" class="dial" id="blue">

  <div class="container" >
    <h1 id="namecolor">rgb</h1>
    </div>
    <div class="contenedor" id="paint"  style="width: 500px; height: 600px"></div>
